/* Copyright 2019 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#pinKeyboardContainer {
  margin-top: 36px;
  position: relative;
}

#pinKeyboard {
  --pin-keyboard-pin-input-style: {
    width: 192px;
    padding-bottom: 24px;
  };
  --pin-keyboard-number-color: var(--google-grey-900);
  --cr-icon-button-margin-start: 5px;
}

#errorContainer {
  color: var(--google-red-600);
  font-size: 10px;
  font-weight: 500;
  position: absolute;
  text-align: center;
  top: 40px;
  width: 100%;
}

#errorIcon {
  --iron-icon-width: 20px;
  --iron-icon-height: 20px;
  margin-inline-end: 3px;
}
