/* Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:root {
  color: #333;
}

.overview-list-item:last-of-type {
  margin-bottom: 0;
}

.overview-list-item-title {
  font-weight: 500; /* roboto-medium */
  margin-bottom: 4px;
}

/* Styles for the traditional dialog. */

#syncConsentOverviewDialog .overview-list-item {
  background-color: var(--google-grey-100);
  margin-bottom: 16px;
  padding: 16px;
}

#syncConsentOverviewDialog .overview-list-item-icon {
  padding-inline-end: 16px;
}

#syncConsentOverviewDialog cr-checkbox {
  align-self: start; /* Prevent label from spanning the whole width. */
  margin-top: 28px; /* 40 to label base line => 40 - 16/2 - 13/3 = 28 */
  padding-inline-start: 8px;
  --cr-checkbox-label-padding-start: 12px;
}

/* Styles used with SplitSettingsSync. */

#splitSettingsSyncConsentDialog .overview-list-item {
  margin-bottom: 16px;
  padding: 16px;
}

#splitSettingsSyncConsentDialog .overview-list-item-icon {
  margin-top: 2px;
  padding-inline-end: 16px;
}

#splitSettingsSyncConsentDialog cr-checkbox {
  align-self: start; /* Prevent label from spanning the whole width. */
  margin-top: 16px;
  --cr-checkbox-label-padding-start: 12px;
}

/* Styles used with SplitSyncConsent. */

#osSyncConsentFooter {
  border-bottom: solid 1px var(--google-grey-300);
  border-top: solid 1px var(--google-grey-300);
  padding: 16px 0;
}

#osSyncConsentToggleName {
  font-weight: 500;
  margin-bottom: 4px;
}

#osSyncConsentToggleDescription {
  color: var(--google-grey-700);
}
